include tr/README.md
include tr/*.txt

include c_api.cpp
recursive-include libtorch *.dll.*
recursive-include libtorch *.dll

recursive-include tr *.bin*
recursive-include tr *.dll.*
recursive-include tr *.dll
